/*  MICROTHEMER STYLES  */


/*= Menu principal ============ */

/** Menu principal >> Primary menu ast masthead custom menu items **/
#primary-menu > .ast-masthead-custom-menu-items {
	
}


/*= Conteúdo ================= */

/** Conteúdo >> titulo cardapio home **/
#post-9 .cardapiohome .uagb-rm__title-wrap {
	width: 250px !important;
}

/** Conteúdo >> preco cardapiohome **/
#post-9 .cardapiohome .uagb-rm__price {
	width: 80px !important;
}


/*= Rodapé =================== */

/** Rodapé >> Barra de Rodape **/
#colophon .ast-footer-overlay {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

